.cardP{
    background-color: #365B6D;
    padding: 20px;
    border-radius: 50px;
margin-bottom: 5px;
display: flex;
position: relative;
}

.buttonP{
    color: #365B6D;
    background:#fff;
   position: absolute;
   right: 0;
   margin: 25px;
border-radius: 8px;
padding: 8px;
}
.cardPtitle{
size:500px;

}