/* Container principal */
.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    min-height: calc(100vh - 50px); /* Ajusta para incluir o rodapé */
    box-sizing: border-box;
}

/* Rodapé */
.footer {
    background-color: #1a8810;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Cartão */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(190, 13, 13, 0.1); /* Adiciona sombra vermelha */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Adiciona transição suave para a sombra */
    text-align: center;
    padding: 20px;
    background-color: white;
    margin: 20px;
    flex: 1;
    min-width: 280px;
    max-width: 400px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(190, 13, 13, 0.2); /* Aumenta a sombra vermelha ao passar o mouse */
}

/* Imagem do cartão */
.cardImage {
    width: 90px;
    height: 80px;
    margin-bottom: 16px;
}

/* Conteúdo do cartão */
.cardContent {
    padding: 16px;
}

/* Título do cartão */
.cardTitle {
    font-size: 1.5em;
    margin: 0 0 8px;
    color: #1a8810;
    transition: color 0.3s ease-in-out;
}

.cardTitle:hover {
    color: #be0d0d;
}

/* Descrição do cartão */
.cardDescription {
    font-size: 1em;
    color: #666;
}

/* Estilo do header para prevenir quebra de linha */
.headerTitle {
    font-size: 2em;
    font-weight: bold;
    color: #1a8810;
    white-space: nowrap;
    text-align: center;
}

.headerTitle .connect {
    color: #be0d0d;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        margin: 10px;
        padding: 15px;
        margin-bottom: 20px;
    }

    .cardTitle {
        font-size: 1.2em;
    }

    .cardDescription {
        font-size: 0.9em;
    }

    .cardImage {
        width: 70px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .card {
        margin: 5px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .cardTitle {
        font-size: 1em;
    }

    .cardDescription {
        font-size: 0.8em;
    }

    .cardImage {
        width: 60px;
        height: 50px;
    }
}
